
/* --- Season Serif Family --- */

/* Light */
@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Medium */
@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* SemiBold */
@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Season Serif';
    src: url('./assets/fonts/season-serif/SeasonSerif-TRIAL-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
/* Aktiv family */

@font-face {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
}