
@font-face {
    font-family: SeasonSerifTRIALLight;
    src: url('./assets/fonts/season-serif/SeasonSerifTRIALLight.woff2') format('woff2'),
         url('./assets/fonts/season-serif/SeasonSerifTRIALLight.woff') format('woff');

}
