{# _components/ui/icons/facebook-icon.twig #}

{# 1. SET COMPONENT DEFAULTS #}
{% set defaults = {
    iconColor: 'text-foxplan-neutral-beige',
    boxColor: 'bg-foxplan-charcoal-brown',
    size: 'w-8 h-8',
    url: null
} %}

    {# 2. MERGE WITH PASSED PROPS #}
    {% set props = defaults | merge(props | default({})) %}

    {% if props.url %}
<a href="{{ props.url }}" target="_blank" rel="noopener noreferrer" class="block hover:opacity-80 transition-opacity">
    {% endif %}

    <div class="flex items-center justify-center rounded-sm {{ props.size }} {{ props.boxColor }} {{ props.iconColor }}">

        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
             class="w-2/3 h-2/3">
            <path d="M14.9896 5H12.6122C11.2014 5 9.63213 5.59834 9.63213 7.66049C9.63902 8.37902 9.63213 9.06716 9.63213 9.84162H8V12.4606H9.68264V20H12.7746V12.4108H14.8154L15 9.83427H12.7213C12.7213 9.83427 12.7264 8.68813 12.7213 8.35528C12.7213 7.54037 13.5622 7.58703 13.6128 7.58703C14.013 7.58703 14.791 7.58821 14.9907 7.58703V5H14.9896Z"
                  fill="currentColor"/>
        </svg>

    </div>

    {% if props.url %}
</a>
{% endif %}