{# _components/ui/icons/instagram-icon.twig #}

{# 1. SET COMPONENT DEFAULTS #}
{% set defaults = {
    iconColor: 'fill-white',
    boxColor: 'bg-foxplan-charcoal-brown',
    size: 'w-8 h-8',
    url: null
} %}

{# 2. MERGE WITH PASSED PROPS #}
{% set props = defaults | merge(props | default({})) %}

{% if props.url %}
<a href="{{ props.url }}" target="_blank" rel="noopener noreferrer" class="block hover:opacity-80 transition-opacity">
    {% endif %}
    {# THE BOX: Centered flex container with changeable background color #}
    <div class="flex items-center justify-center rounded-sm {{ props.size }} {{ props.boxColor }}">
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-1/2 h-1/2">
            <g clip-path="url(#clip0_instagram)">
                <path d="M6.00048 9.41504C6.00048 7.75825 7.34321 6.4148 9 6.4148C10.6568 6.4148 12.0002 7.75825 12.0002 9.41504C12.0002 11.0718 10.6568 12.4153 9 12.4153C7.34321 12.4153 6.00048 11.0718 6.00048 9.41504ZM4.37861 9.41504C4.37861 11.9674 6.4476 14.0364 9 14.0364C11.5524 14.0364 13.6214 11.9674 13.6214 9.41504C13.6214 6.86264 11.5524 4.79365 9 4.79365C6.4476 4.79365 4.37861 6.86264 4.37861 9.41504ZM12.7243 4.61041C12.7243 4.82401 12.7875 5.03284 12.9061 5.2105C13.0247 5.38815 13.1933 5.52664 13.3906 5.60846C13.588 5.69029 13.8051 5.71176 14.0146 5.67017C14.2241 5.62858 14.4166 5.5258 14.5677 5.37482C14.7188 5.22384 14.8218 5.03144 14.8635 4.82196C14.9053 4.61248 14.884 4.39532 14.8023 4.19794C14.7206 4.00056 14.5823 3.83183 14.4047 3.71309C14.2272 3.59435 14.0184 3.53092 13.8048 3.53084H13.8043C13.518 3.53097 13.2435 3.64474 13.041 3.84716C12.8385 4.04958 12.7246 4.32409 12.7243 4.61041ZM5.364 16.7408C4.48654 16.7009 4.00961 16.5547 3.69266 16.4312C3.27247 16.2676 2.97266 16.0728 2.65745 15.758C2.34223 15.4432 2.14711 15.1437 1.98425 14.7235C1.8607 14.4067 1.71454 13.9297 1.67465 13.0522C1.63102 12.1035 1.6223 11.8185 1.6223 9.41511C1.6223 7.01168 1.63174 6.72749 1.67465 5.77803C1.71461 4.90057 1.86185 4.42443 1.98425 4.10669C2.14783 3.6865 2.34266 3.3867 2.65745 3.07148C2.97223 2.75626 3.27175 2.56114 3.69266 2.39828C4.00946 2.27473 4.48654 2.12857 5.364 2.08868C6.31267 2.04505 6.59765 2.03633 9 2.03633C11.4024 2.03633 11.6876 2.04577 12.6371 2.08868C13.5145 2.12864 13.9907 2.27588 14.3084 2.39828C14.7286 2.56114 15.0284 2.7567 15.3436 3.07148C15.6588 3.38626 15.8532 3.6865 16.0168 4.10669C16.1404 4.42349 16.2865 4.90057 16.3264 5.77803C16.3701 6.72749 16.3788 7.01168 16.3788 9.41511C16.3788 11.8185 16.3701 12.1027 16.3264 13.0522C16.2865 13.9297 16.1396 14.4066 16.0168 14.7235C15.8532 15.1437 15.6584 15.4435 15.3436 15.758C15.0288 16.0725 14.7286 16.2676 14.3084 16.4312C13.9916 16.5548 13.5145 16.7009 12.6371 16.7408C11.6884 16.7845 11.4034 16.7932 9 16.7932C6.59657 16.7932 6.31238 16.7845 5.364 16.7408ZM5.28948 0.469543C4.33138 0.513175 3.67668 0.665095 3.10493 0.887575C2.5128 1.11733 2.01154 1.42556 1.51063 1.92567C1.00973 2.42578 0.702288 2.92784 0.472536 3.51997C0.250056 4.09208 0.098136 4.74642 0.054504 5.70452C0.010152 6.66413 0 6.97093 0 9.41504C0 11.8592 0.010152 12.1659 0.054504 13.1256C0.098136 14.0837 0.250056 14.738 0.472536 15.3101C0.702288 15.9019 1.0098 16.4045 1.51063 16.9044C2.01146 17.4043 2.5128 17.7121 3.10493 17.9425C3.67776 18.165 4.33138 18.3169 5.28948 18.3605C6.2496 18.4042 6.55589 18.415 9 18.415C11.4441 18.415 11.7509 18.4049 12.7105 18.3605C13.6687 18.3169 14.323 18.165 14.8951 17.9425C15.4868 17.7121 15.9885 17.4045 16.4894 16.9044C16.9903 16.4043 17.2971 15.9019 17.5275 15.3101C17.7499 14.738 17.9026 14.0837 17.9455 13.1256C17.9891 12.1652 17.9993 11.8592 17.9993 9.41504C17.9993 6.97093 17.9891 6.66413 17.9455 5.70452C17.9019 4.74634 17.7499 4.09172 17.5275 3.51997C17.2971 2.9282 16.9895 2.42657 16.4894 1.92567C15.9893 1.42477 15.4868 1.11733 14.8958 0.887575C14.323 0.665095 13.6686 0.512455 12.7112 0.469543C11.7516 0.425911 11.4448 0.415039 9.00072 0.415039C6.55661 0.415039 6.2496 0.425191 5.28948 0.469543Z" class="{{ props.iconColor }}" />
            </g>
            <defs>
                <clipPath id="clip0_instagram">
                    <rect width="18" height="18" fill="white" transform="translate(0 0.415039)" />
                </clipPath>
            </defs>
        </svg>
    </div>
    {% if props.url %}
</a>
{% endif %}