{# templates/_boilerplate/layouts/layout-base.twig #}
<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {# 1. CSS & Fonts #}
    <link rel="stylesheet" href="https://use.typekit.net/hty7zmt.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'foxplan-yellow': 'var(--foxplan-yellow)',
                        'foxplan-charcoal-brown': 'var(--foxplan-charcoal-brown)',
                        'foxplan-neutral-beige': 'var(--foxplan-neutral-beige)',
                        'foxplan-white': 'var(--foxplan-white)',
                        'foxplan-tint-line': 'var(--foxplan-tint-line)',
                    },
                    fontFamily: {
                        'serif': ['"Season Serif"', 'serif'],
                        'sans-aktiv': ['"aktiv-grotesk"', 'sans-serif'],
                    },
                    screens: {
                        'sm': '640px',
                        'md': '768px',
                        'lg': '1280px',
                    },
                }
            }
        }
    </script>

    <style>

        :root {
            --foxplan-yellow: #FBC938;
            --foxplan-neutral-beige: #F9EFD8;
            --foxplan-white: #FEFCF7;
            --foxplan-charcoal-brown: #270E15;
            --foxplan-tint-line: #CECECE;
        }
        [x-cloak] {
            display: none !important;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        html::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        html {
            -ms-overflow-style: none;
            scrollbar-width: none;
            overscroll-behavior-y: none;
            background-color: var(--foxplan-neutral-beige);
        }

        html, body {
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
            overflow-x: hidden;
        }


        .font-serif {
            font-family: 'SeasonSerifTRIALLight', serif;
        }

        .font-aktiv {
            font-family: 'aktiv-grotesk', sans-serif;
        }


    </style>

    {# 2. Animation Libraries #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    {# 3. Alpine.js #}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="antialiased font-aktiv text-foxplan-charcoal-brown bg-foxplan-neutral-beige">

{{ include("_components/nav/nav.twig", { navigationTheme: navigationTheme ?? null }, withContext = true) }}

<main class="w-full">
    {% block blockAppBody %}{% endblock %}
</main>

<script>
    // used for not showing empty space
    gsap.registerPlugin(ScrollTrigger);
</script>
</body>
</html>