{# this is for property upgrade , property investment , refinancing & refixing #}


{% extends "_boilerplate/_layouts/layout-base.twig" %}

{% set navigationTheme = {
    backgroundColor: 'bg-foxplan-neutral-beige',
    textColor: 'text-black',
    actionBgColor: 'bg-foxplan-charcoal-brown'
} %}

{# 2. Fill the body block defined in layout-base #}
{% block blockAppBody %}

       {# 3. Include the Hero Section #}
    {# 3. Include the Hero Section #}
    {% include "_sections/hero-sections/hero-1.twig" with { data: entry } %}

             {# 4. Include the "Help Me Buying Your First Home" Section #}
    {% include "_sections/content-sections/help-for-buying-your-first-home.twig" with {
        props: {
            paragraphHeading: entry.paragraphHeading,
            infoBlock: entry.infoBlock.all()
        }
    } %}

    {# 5. Benefits Section #}
    {% set benefitsHeading = entry.paragraphHeading2 ?? 'About group insurance' %}
    {% set benefitsIntro = entry.bodyText ?? '' %}

    {% set accordionItems = [] %}
    {% if entry.accordion is defined %}
        {% for block in entry.accordion.all() %}
            {% set accordionItems = accordionItems | merge([{
                'title': block.accordionHeading,
                'text': block.accordionBodyText
            }]) %}
        {% endfor %}
    {% endif %}

    {{ include('_sections/content-sections/benefits.twig', {
        props: {
            paragraphHeading: benefitsHeading,
            bodyText: benefitsIntro,
            items: accordionItems,
            backgroundColor: 'bg-foxplan-yellow',
            textColor: 'text-foxplan-charcoal-brown'
        }
    }) }}

{#    #}{# --- WHO WE WORK WITH (Logos) --- #}
    {% include "_sections/content-sections/who-we-work-with.twig" with {
        data: (entry.pageBuilder ?? null) ? entry.pageBuilder.all()|filter(b => b.type == "whoWeWorkWith")|first : null
    } only %}

    {# 7. Testimonial #}
    {% include "_sections/testimonials/testimonial-two.twig" %}
    {# 8. Main Page Content #}
    {# This 'innerContent' block allows individual pages to add their specific content below the hero #}
    <div class="service-page-content">
        {% block innerContent %}{% endblock %}
    </div>

    {# footer #}
    {{ include('_components/footer/footer-High-fidelity.twig', {
        props: {
            backgroundColor: 'bg-foxplan-charcoal-brown',
            textColor: 'text-foxplan-yellow',
            logoColor: 'text-foxplan-yellow',
            buttonColor: 'bg-foxplan-yellow',
            buttonTextColor: 'text-foxplan-charcoal-brown',
            separatorColor: 'text-foxplan-yellow'
        }
    }) }}

{% endblock %}