{# templates/_boilerplate/layouts/layout-base.twig #}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.typekit.net/hty7zmt.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'foxplan-yellow': '#FBC938',
                        'foxplan-neutral-beige': '#F9EFD8',
                        'foxplan-white': '#FEFCF7',
                        'foxplan-charcoal-brown': '#270E15',
                    },
                    fontFamily: {
                        'serif': ['SeasonSerifTRIALLight',  'serif'],
                        'aktiv-grotesk': ['aktiv-grotesk'],
                    }
                }
            }
        }
    </script>
    <style>
        [x-cloak] { display: none !important; }
        html, body {
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
            overflow-x: hidden;
        }
    </style>
</head>
<body class="antialiased font-aktiv-grotesk text-foxplan-charcoal-brown bg-foxplan-neutral-beige">
{{ include("_components/nav/nav.twig", { navigationTheme: navigationTheme ?? null }, withContext = true) }}
<main class="w-full">
    {% block blockAppBody %}{% endblock %}
</main>

</body>
</html>

{# Add this to layout-base.twig #}
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>