@import "tailwindcss";

/* ========================================
   THEME COLORS (FoxPlan)
   ======================================== */
@theme {
    --color-foxplan-yellow: #FBC938;
    --color-foxplan-neutral-beige: #F9EFD8;
    --color-foxplan-white: #FEFCF7;
    --color-foxplan-charcoal-brown: #270E15;
}

