{# templates/_components/nav/nav-landing-page.twig #}

{# --- 1. CONFIGURATION --- #}
{% set bgColor = theme.backgroundColor ?? 'bg-foxplan-yellow' %}
{% set wordmarkPath = '@webroot/dist/images/foxplan_wordmark.svg' %}


<nav class="w-full fixed top-0 left-0 right-0 z-[9999] {{ bgColor }} border-none outline-none">
    <div class="flex items-center justify-center h-20 w-full">

        <a href="/"
           class="flex items-center justify-center h-full transition-opacity hover:opacity-80 outline-none focus:outline-none"
           aria-label="Foxplan Home">

            <div class="relative h-7 lg:h-9 xl:h-11 w-auto flex items-center justify-center">
                {{ svg(alias(wordmarkPath))|attr({ class: 'h-7 lg:h-9 xl:h-11 w-auto fill-foxplan-charcoal-brown' }) }}
            </div>
        </a>

    </div>
</nav>